/* --------------- /базовые настройки ---------*/
html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, sub, sup, b, u, i,  dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;                               /* обнуляем отступы и убираем бордюры */
	vertical-align: baseline;          /* приводим все к одной базовой линии */
	background: transparent;      /* чтобы не проскакивали левые фоны, установленные по умолчанию */
	font-size: 100%;                     /* размер шрифта всем одинаковый */
}

img {
	vertical-align: top;			/* возвращаем привычное вертикальное выравнивание */
}

html {
	min-height:100%; /* всегда показываем вертикальную полосу прокрутки  */
}

img{
	max-width:100%;
}
/* --------------- /базовые настройки ---------*/

.tile, .list{
    max-width: 1280px;
    margin: auto;
    text-align: center;
    padding: 10px;
}

.tile li {
	display: inline-block;
	width: 31%;    
	min-width: 200px;
	text-align: center;
    padding: 5px;
    margin: 10px 5px;
    border: 1px solid #ccc;
}

.tile li img{
    max-height: 350px;
}

.list li img{
    max-height: 250px;
    float: left;
    margin: 10px;
}

.tile li:nth-child(3n){
    float: right;
}
.tile li:nth-child(3n-2){
    float: left;
}

.list li{
    display: inline-block;
	width: 95%;    
	min-width: 200px;
	text-align: left;
    padding: 5px;
    margin: 10px 5px;
    border: 1px solid #ccc;
}

@media screen and (max-width:1024px){
    
    .tile li{
        width: 46.5%;
    }
    
    .tile li:nth-child(odd){
        float: left;
    }
    .tile li:nth-child(even){
        float: right;
    }
}

@media screen and (max-width:768px){
    .tile li{
        width: 95%;
    }
    .tile li:nth-child(odd){        
        float: none;
    }
    .tile li:nth-child(even){
        float: none;
    }
}